// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin_greetings {
  color: #ffffff;

  span {
    margin: auto 0;
  }
}
.m-top {
  margin-top: 70px;
}

.mt-15 {
  margin-top: 125px;
}

.alert {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  text-align: center;
}

.alert-notice {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

span.error {
  color: #dc3545;
  margin-left: 10px;
  position: absolute;
}

.error_notification {
  color: #dc3545;
  font-weight: 600;
}

.icon {
  position: absolute;
  left: 0;
  top: 6px;
}

#dropdownMenuButton {
  color: #d4d9f0;
  opacity: .9;

  &:hover {
    color: #ffffff;
    opacity: 1;
  }
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 90px;
  align-items: center;
  left: 20px;
  background-color: #343a40;
  border-radius: 12px;

  .dropdown-btn {
    text-decoration: none;
    color: #d4d9f0;
    opacity: .9;

    &:hover {
      color: #ffffff;
      opacity: 1;
      text-decoration: underline;
    }
  }
}

.fa-edit {
  padding-top: 4px;
}
