// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.product_form .form-group.price .input {
  min-width: 325px;
}

.product_form {
  max-width: 1000px;
  border: 1px solid #1fc7c0;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
}

.product_selling_form {
  max-width: 1000px;
  border: 1px solid #1fc7c0;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.back {
  position: absolute;
  height: 600px;
  background-color: #f8f8f859;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 0;
  padding: 10px;
  border-radius: 14px 0 0 14px;
  color: #dee4dead;
  transform: translateY(-50%);

  &:hover {
    background-color: #d0e6f986;
    color: #023157c0;
  }
}

.btn-more-hidden {
  display: none;
  position: relative;
  justify-content: center;

  a:first-of-type{
    margin-right: 25px;
  }

  span.times {
    height: 20px;
    position: absolute;
    top: -18px;
    cursor: pointer;
    width: 20px;
    color: rgb(73, 71, 71);

    &:hover {
      color: rgb(2, 82, 114);
    }
  }
}

.form-group {
  margin-top: 20px;
}

.btn-more {
  cursor: pointer;
  color: rgb(73, 71, 71);

  &:hover {
    color: rgb(2, 82, 114);
  }
}

.sell-btn {
  color: #228b22;

  &:hover {
    color: rgb(2, 82, 114);
  }
}