= f.simple_fields_for :prices do |price|
  .form-group.d-flex.justify-content-between.price
    = price.input :buy_price,   label: t('.buy_price_label'),
                                required: true,
                                placeholder: t('.buy_price_placeholder'),
                                input_html: { class: 'form-control' }

    = price.input :sell_price,  label: t('.sell_price_label'),
                                required: true,
                                placeholder: t('.sell_price_placeholder'),
                                input_html: { class: 'form-control' }
  .form-group
    = price.input :quantity,    label: t('.quantity'),
                                required: true,
                                placeholder: t('.quantity_placeholder'),
                                input_html: { class: 'form-control' }
